<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--每月送积分数量-->
    <add key="VipAccnum" value="40" />
    <!--提醒次数-->
    <add key="AlertTimes" value="4" />
    <!--定时查询时间分钟-->
    <add key="Interval" value="10" />

    <add key="Mode" value="debug" />
    
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Model1" connectionString="data source=.;initial catalog=isszmv;user id=sa;Password=1111;Min Pool Size=1;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>